<div class="container-album">
    <div class="album-item">
        <div class="frame-album">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZSf8FHu4SchWNLPGOqhh8IcYn22RApM9MrQ&s" alt="Album Image 1">
        </div>
        <p>Khai trương CS1</p>
    </div>
    <div class="album-item">
        <div class="frame-album">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOfetQ9cBdFmBDRb3WGOpUy1gvFRL1h4V1zg&s" alt="Album Image 2">
        </div>
        <p>Mô tả ảnh 2</p>
    </div>
    <div class="album-item">
        <div class="frame-album">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShsbijok2UZMyGc7D8c6kKvymDky0DWsSh3g&s" alt="Album Image 3">
        </div>
        <p>Mô tả ảnh 3</p>
    </div>
     <div class="album-item">
        <div class="frame-album">
        <img src="https://mrtomsushi.com/upload/elfinder/khai-truong-chi-nhanh-thu-19-sushi-mr-tom-uu-dai-den-15%20(2).png" alt="Album Image 3">
        </div>
        <p>Khai trương chi nhánh 11</p>
    </div>

     <div class="album-item">
        <div class="frame-album">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShsbijok2UZMyGc7D8c6kKvymDky0DWsSh3g&s" alt="Album Image 3">
        </div>
        <p>Mô tả ảnh 3</p>
    </div>

    <div class="album-item">
        <div class="frame-album">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShsbijok2UZMyGc7D8c6kKvymDky0DWsSh3g&s" alt="Album Image 3">
        </div>
        <p>Mô tả ảnh 3</p>
    </div>

    <div class="album-item">
        <div class="frame-album">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShsbijok2UZMyGc7D8c6kKvymDky0DWsSh3g&s" alt="Album Image 3">
        </div>
        <p>Mô tả ảnh 3</p>
    </div>
    
    <div class="album-item">
        <div class="frame-album">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShsbijok2UZMyGc7D8c6kKvymDky0DWsSh3g&s" alt="Album Image 3">
        </div>
        <p>Mô tả ảnh 3</p>
    </div>

    <div class="album-item">
        <div class="frame-album">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRiUMmYdVb56IrTs-Dvj4F4V28LeSsR2Dkfg&s" alt="Album Image 3">
        </div>
        <p>Chi nhánh 5</p>
    </div>
     
</div>
