<div class="payment">
    <div class="payment-header">
        <i class=""></i>
        <div class="payment-title">
            <p>Thanh Toán</p>
        </div>
        <input type="text" placeholder="Vui lòng nhập địa chỉ nhận hàng">
    </div>

    <div class="payment-container">
        <div class="voucher">
            <i class="ti-gift"></i>
            <select>
                <option value="" disabled selected>Chọn hình thức thanh toán</option>
                <option >Thanh toán khi nhận hàng</option>
                <option >Thanh toán bằng VNPAY</option>
                <option >Thanh toán bằng Ngân hàng</option>
                <option >Thanh toán bằng Ví MOMO</option>
            </select>
        </div>
        <div>
            <p>Tổng số tiền</p>
            <span>$1000</span>
        </div>
        <div>
            <p>Số tiền giảm</p>
            <span>$100</span>
        </div>
        <div>
            <p>Số tiền thanh toán</p>
            <span>$900</span>
        </div>

        <button >Xác nhận thanh toán</button>
    </div>
</div>
