<div class="payment">
    <div class="payment-header">
        <i class=""></i>
        <div class="payment-title">
            <p>Thanh Toán</p>
        </div>
        <input type="text" placeholder="Vui lòng nhập địa chỉ nhận hàng">
    </div>

    <div class="payment-container">
        <div class="voucher">
            <i class="ti-gift"></i>
            <select>
                <option value="" disabled selected>Chọn mã giảm giá</option>
                <option value="5percent">Giảm 5% cho đơn hàng</option>
                <option value="freeship">Miễn phí vận chuyển</option>
                <option value="100k">Giảm 100.000 VNĐ</option>
                <option value="50k">Giảm 50.000 VNĐ</option>
                <option value="vip">Giảm 200.000 VNĐ (dành cho khách hàng VIP)</option>
            </select>
        </div>
        <div>
            <p>Tổng số tiền</p>
            <span>$1000</span>
        </div>
        <div>
            <p>Số tiền giảm</p>
            <span>$100</span>
        </div>
        <div>
            <p>Số tiền thanh toán</p>
            <span>$900</span>
        </div>

        <button>Xác nhận thanh toán</button>
    </div>
</div>
